{% extends 'mainapp/base.html' %}
{% load static %}

{% block content %}
<div class="block-new">
    {% for article in last_article %}
    <div class="block-new-article">
        <div class="new">NEW</div>
        <h1>{{ article.name }}</h1>
        <p>{{ article.sort_description | safe }}</p>
        <button type="button"><a href="{% url 'main:article' article.pk %}">Читать</a></button>
    </div>
    <div>
        <img class="new-article-img" src="{{ article.image.url }}" alt="article img">
    </div>
    {% endfor %}
</div>
<div class="block-articles">
    <h1>Другие статьи</h1>
    <div class="article-list">
        {% for article in articles %}
            <a href="{% url 'main:article' article.pk %}">
                <div class="article">
                    <p class="pub-date">{{ article.created }}</p>
                    <div><img src="{{ article.image.url }}" alt="article img"></div>
                    <h2>{{ article.name }}</h2>
                </div>
             </a>
        {% endfor %}
    </div>
</div>
{% endblock %}